@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto";
  @apply text-secondary;
}
p {
  @apply mb-4;
}
.animate {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.shadowTitlesecondary {
  text-shadow: 3px 3px #fee7ba;
}
